*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  scroll-behavior: smooth;
}



body{
  min-height: 100vh;
  min-width: 100%;
  border: 10px solid tomato;
}




// NAV
.myNav{
  background-color: tomato;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  .navTitle{
    height: 100%;
    display: flex;
    align-items: center;

    img{
      height: 80%;
      margin: 0 1vw;
    }

    a{
      font-style: none;
      text-decoration: none;
    }

    h1{
      color: white;
      text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
      font-family: serif;
      font-size: 4rem;
      cursor: pointer;
    }

  }


  .navSearch{
    margin-right: 2vw;
    align-self: flex-end;
  }
}
.button{
  border-radius: 5px;
  border: 1px solid rgb(166, 166, 166);
  width: 50px;
}

.button,.picker{
  cursor: pointer;
}

.searcher, .picker, .button{
  border-radius: 5px;
  height: 30px;
  background-color: white;
  margin: 20px 10px;
  border-color: white;
}

.searcher{
  background-color: tomato;
  border: 0;
  color: white;
  border-bottom: 2px solid white;
  border-radius: 0;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}

.button:hover, .picker:hover{
  background-color: tomato;
  color: white;
}

.searcher::placeholder{
  color: white;
}


// RESULTS CONTAINER
.myContainer{
  padding: 2vh 5vw;
}

.results{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .myCard{
    width: 35vw;
    background-color: rgba(0,0,0,0.05);
    color: tomato;
    margin: 2%;


    .col{
      background-color: white;
      position: relative;
      padding-left: 0;
      padding-right: 0;


      .myCard-photo{
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
      }

      .myCard-title{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 15;
        width: 100%;
        padding: 2%;
        color: rgba(255,255,255,0.9);
        text-shadow: 5px 5px 5px rgba(0,0,0,0.8);
      }

      .photoShadow {
        width: 100%;
        height: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        background: linear-gradient(to bottom, rgba(76,76,76,0) 0, rgba(19,19,19,0.5) 100%);
      }

    } //photo container ends here

    .myCard-text{
      width: 100%;
      padding: 2%;
      h4{
        margin-bottom: 30px;
      }
    }

  } //my card ends here

  .myCard:hover{
    box-shadow: 5px 10px 12px rgba(0,0,0,0.5);
    cursor: pointer;
    background-color: tomato;
    color: white;
  }

}


.mySpinner{
  position: absolute;
  top: 35vh;
  left: 40vw;
  z-index: 100;
  // color: tomato;
  // border: 0.75em solid currentColor;
  // border-right-color: transparent;
  animation: spinner-border 1s linear infinite;
  -webkit-animation: spinner-border 1s linear infinite
}


.off{
  background-color: lightgrey !important;
  border-color: grey !important;
  color: grey !important;
  display: none;
}

.off2{
  border-color: lightgrey !important;
  display: none;
}

.off2::placeholder{
  color: lightgrey;
}
